.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    color: rgb(255, 255, 255);
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    background: rgba(0, 0, 0, 0.338); 
    backdrop-filter: blur(10px);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2);
    z-index: 1000;


    .left {
        display: flex;
        align-items: center;
        gap: 1rem; 

        .profile_icon {
            width: 1rem;
            height: 1rem;
            border-radius: 50rem;

            i {
                font-size: 1rem;
                color: white;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }


        }

        .Navbar_item p {
            font-size: 0.85rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 1rem;

        .Wifi_icon {
            width: 1rem;
            height: 1rem;

            i {
                font-size: 0.8rem;
                color: white;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}