.Navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2rem;
    color: rgb(231, 215, 215);
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;

    /* Glassmorphism */
    background: rgba(255, 255, 255, 0.509);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);

    /* Subtle depth */
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

    /* Text */
    // color: #000;
    

    z-index: 1000;


    .left {
        display: flex;
        align-items: center;
        gap: 1rem;

        .profile_icon {
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            background: rgb(0, 0, 0);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }

            ;
        }
    }
}