.datetime {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;


    .date {
        font-size: 0.8rem;
        margin-bottom: 2px;
    }

    .time {
        font-size: 0.8rem;
        font-weight: 500;
    }
}