.Resume-Window {
  width: 100%;
  height: 100%;

  iframe {
    width: 100%;
    height: 100%;
    border: none; /* remove default iframe border */
    overflow: hidden; /* hide scrollbars */
  }
}

// /* For WebKit browsers (Chrome, Safari) */
// .Resume-Window iframe::-webkit-scrollbar {
//   display: none;
// }

// /* For Firefox */
// .Resume-Window iframe {
//   scrollbar-width: none;
// }

.Resume-Window::-webkit-scrollbar {
  width: 1px;
}

.Resume-Window::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}

.Resume-Window::-webkit-scrollbar-track {
  background: transparent;
}
